﻿@{
    ViewBag.Title = "UploadFile";
}

<h2>Upload Part</h2>

<form action="~/Upload/UploadFile" method="post" enctype="multipart/form-data">

    <input type="file" name="file" id="file" />
    <br />
    <input type="submit" />
</form>

@{
    if (ViewBag.UPLOADED)
    {
        <br />
        <a href="~/Download/DownloadFile/@ViewBag.FileName">Download Feature Data</a>
    }
}